/* ########### Normalize HTML ############# */
 
body{
    padding:0;
    margin:0;
}
 
* {
    box-sizing: border-box;
}
 
img{
    width:100%;
    object-fit:cover;
}
 
/* ########### Normalize HTML ############# */
 
/* ############ Navigation ################ */
 
.navigation {
    display:flex;
    justify-content: center;
    width:100%;
    height:80px;
    background-color: #00414b;
    border-bottom:5px solid #ffe900;
}
 
.navigation-inner-container{
    display:flex;
    width:96%;
}
 
.navigation-container-left-side{
    display:flex;
    width:50%;
    height:100%;
}
 
.navigation-image-container{
    display:flex;
    justify-content: center;
    align-items:center;
}
 
 
 
.navigation-container-right-side{
    width:50%;
    height:100%;
    background-color:black;
}