


/* Aufgabe 1: Button with Hover Animation */
#aufgabe1 button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(255, 249, 249);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#aufgabe1 button:hover {
    background-color: #007914;
}


/* Aufgabe 2: Link with Border and Ubuntu Font */


@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

#aufgabe2 a {
    font-family: 'Ubuntu-Regular';
    text-decoration: none;
    padding: 10px;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    transition: all 1s ease;
}

#aufgabe2 a:hover {
    background-color: #007914;
    color: white;
}



/* Aufgabe 3: Section with 3 Rows of Images and Text */


.section-container {
    max-width: 1300px;
    margin: 0 auto;
}

.row1 {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color: #000000; 
}
.row1 div {
    color: yellow; 
  }


.row2 {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color: #ff0000; 
 

}

.row3 {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0;
    border:#007914;
    border: 1px solid #ccc;
    background-color: #007914; 

}


/* Aufgabe 4: Link that Redirects to Knastseite */
#aufgabe4 a {
    background-color: #4CAF50;
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#aufgabe4 a:hover {
    background-color: #45a049;
}



/* style.css

.row1, .row2, .row3 {
    border: 1px solid #ccc; 
    padding: 10px;
    margin-bottom: 10px;
  } */


